
body{
font-family: "ITC Avant Garde Gothic Light', "Helvetica Neue",Helvetica, Arial, sans-serif";
overflow: scroll;

}
.media{
  text-align: justify;

}
img{
  width:300px;
}

#profilePic {
  width:200px;
  height: 300px;
}
img .wrap{
  float: left;
}

#footer {
  bottom: 0;
  width: 100%;
  position: inherit;
  height: 1.5cm;
  background-color: darkgray;
  text-align: center;
  padding: 1px;
  border-top: orange;
}
.footer-block {
    margin: 20px 0;
  }

